---
---
<!-- get modelType -->
{% include fragment-modelType.html id='cbs-case-class-status' %}

{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='cbs-case-class-status' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{modelType}}: CBSCaseClassStatusExtension - Change History</h2>
  <p>Changes in the cbs-case-class-status {{modelType | downcase}}.</p>

  {%include StructureDefinition-cbs-case-class-status-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
